.quizz{
    margin:0px 150px;
}

.testInfo{
    color:#aeaeae;
}

.testInfo .title{
    font-size:1.2em;
    margin:10px 0;
}

.questionText{
    text-align:left;
    font-size:2em;
    margin:50px 0;
}
.answers{
    padding:50px 0px 100px 0px;
}
.answer{
    margin-bottom:20px;
}
.controls input{
    padding:20px;
}
.correct{
    color:green;
}
.wrong{
    color:red;
}

.testResult{
    font-size:1.5em;
    padding:100px;
    text-align:center;
}

.testResult.success{
    color:green;
}


.testResult.failed{
    color:red;
}
